/* All the Divs */
\.title {
	filter: brightness(0.6);
}

input{
	margin: 20px 20px;
}

.title {
	width: 100vw;
	height: 100vh;
	
}
.merch {
}
.merchimg {
	height: 20vw;
	width: auto;
}
.merch li {
	margin: 0 30px;
}

p {
	text-align: center;
	color: black;
}

.merch ul {
	padding-inline-start: 0;

	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
  flex-wrap: wrap;
}

.navbar {
	width: 100%;
	position: absolute;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	top: 0;
	z-index: 99;
	background-color: rgb(0, 0, 0, 0.7);
	float: center;
	height: 48px;
}
.store {
	color: hotpink;
}


.navbar img{
	float: left;
	margin-top: 5px;
}
.bottombar {
	
	background-color: rgb(0, 0, 0, 0.5);
	
}
.Logo{
	width: auto;
	height: 50px;
	top: 10px;
}
.bottombar a {
	text-align: center;
	font-size: 30px;
	margin: 30px 5px 5px 30px;
}


.bottombar img {
	width: 50px;
	height: auto;
	margin: 10px 50%;
}

.imgbox {
	width: 100%;
}

.bottombar a:hover {
 color: hotpink;
}

.unordered {
margin: 0 auto;
display: table;
}

/* All Buttons */
img.button {
	display: inline-block;
	transition: 0.3s ease;
}

img.button:hover {
	border: solid 2px #EC4387;
	transform: scale(1.2, 1.2);
}

img.button {
	width: 400px;
	height: auto;
	object-fit: cover;
	margin: 10px 20px 20px 10px;
}
.icon{
	height: 24px;
	width: 24px;
	-webkit-filter: invert(100%);
}

/*Text*/
h1{
    font-size: 150px;
    font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
    width: 100%;
	position: absolute;
	z-index: 99;
	text-align: center;
	color: aqua;
	
}

h2{
    color: white;
    font-size: 50px;
	text-align: center;
}

h3{
    width: 45%;
    margin: 80px;
    background: none;
	color: white;
	top : 25vh;
	float: right; 
}
h3{
	margin: 0px;
	top: 10px;
	position: absolute;
	left: 90px;
}


h4{
    background: none;
	font-size: 80px; 
	margin:50px;
	color: white;
	max-width: 50%;
}


html, body {
	background-image: url("../Home/blue\ pink\ gradient.jpg");
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
 	margin: 0;
	padding: 0;
	overflow-x: hidden;
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";

}

/*Tags*/
a {
	text-decoration: none;
	color: white;
}




ul {
	list-style: none;
	margin-block-start: 0;
	margin-block-end: 0;
}




li {
	display: inline-block;
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	float: right;
	color: white;
	font-weight: 300;
}

li:hover,  li a:hover {
	color: hotpink
}







 